@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Potwierdzenie rejestracji - ";
}

<h1 style="padding: 20px 0 0 0">Potwierdzenie rejestracji</h1:>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
    <p>
        Ta aplikacja nie ma obecnie zarejestrowanego prawdziwego nadawcy wiadomości e-mail. Zapoznaj się z <a href="https://aka.ms/aspaccountconf">tymi dokumentami,</a> aby dowiedzieć się, jak skonfigurować prawdziwego nadawcę wiadomości e-mail. 
        Zwykle zostanie to wysłane e-mailem: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Kliknij tutaj, aby potwierdzić swoje konto.</a>
    </p>
    }
    else
    {
<p>
    Sprawdź pocztę e-mail, aby potwierdzić swoje konto.
</p>
    }
}
