@using Microsoft.AspNetCore.Identity

@using PrzepisyWeb.Models;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<nav>
    @if (SignInManager.IsSignedIn(User))
    {
     
      <a class="menu" id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
        
            <form id="logoutForm" class="form" asp-page="/Identity/Pages/Account/Logout" asp-route-returnUrl="@Url.Page("/Layout", new { area = "" })">
               <button id="logout" type="submit" class="nav-link btn btn-outline-light" style="height: 59px">Wyloguj się</button>
            </form>
    }
 else
{
     
         <a class="menu" id="login" asp-page="/Identity/Pages/Account/Login">Zaloguj się</a>
}
</nav>
