@page
@model PrzepisyWeb.Pages.Categories.AddCategoryModel

@{
    ViewData["Title"] = "Dodawanie kategorii - ";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<h3 style="padding: 20px 0 0 0"> Podaj kategorię, która chcesz dodać do przepisu</h3>

    <h4>Dodawanie</h4>
    <hr color="red" />

    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" name="id" asp-for="@Model.Recipe.RecipeID" />

        <div class="form-group">
            <label asp-for="CategoriesText" class="control-label">Nazwy kategorii</label>
            <textarea asp-for="CategoriesText" class="form-control" id="titleHelpMeBlock" rows="3" placeholder="Tutaj wpisz kategorie, które chcesz dodać do danego przepisu, np. kategoria nr1, kategoria nr2, ..."></textarea>
            <span asp-validation-for="CategoriesText" class="text-danger"></span>
        </div>

        <form method="post">
            <input type="submit" value="Dodaj" class="btn btn-outline-success" style="margin: 0 0 10px 0" />
            <div>
                <input type="button" class="nav-link btn btn-outline-danger" value="Wróć do listy przepisów" onClick="history.back();" />
            </div>
        </form>
    </form>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
