@page
@model PrzepisyWeb.Pages.Categories.DeleteModel

@{
    ViewData["Title"] = "Usuwanie - ";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h3 style="padding: 20px 0 0 0">Czy na pewno chcesz usunąć podaną kategorię?</h3>

<h4>Kategoria</h4>
<hr color="red" />

<div class="shadow-lg p-3 mb-5 bg-white rounded">
    <p><b>Nazwa kategorii</b>  : @Html.DisplayFor(model => model.Category.CategoryName)</p>
    <form method="post">
        <input type="hidden" asp-for="Category.CategoryID" />
        <input type="submit" value="Usuń" class="nav-link btn btn-outline-danger" style="margin: 0 0 10px 0" />
        <div>
            <a asp-page="./Index" class=" btn btn-outline-success">Wróć do listy kategorii</a>
        </div>
    </form>
</div>
