@page
@model PrzepisyWeb.Pages.Categories.IndexModel

@{
    ViewData["Title"] = "Kategorie - ";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1 style="padding: 20px 0 30px 0"1>Kategorie</h1>
<p>
    <a asp-page="Create" id="go" type="submit" class="nav-link btn btn-outline-warning">Dodaj nową kategorię</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa kategorii
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Category) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CategoryID" class="btn btn-light" style="margin: 0 0 5px 0">Edytuj</a>
                <br /><a asp-page="./Details" asp-route-id="@item.CategoryID" class="btn btn-light" style="margin: 0 0 5px 0">Szczegóły</a>
                <br /><a asp-page="./Delete" asp-route-id="@item.CategoryID" class="btn btn-light" style="margin: 0 0 5px 0">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
