@page
@model PrzepisyWeb.Pages.Recipes.AddFavouriteModel

@{
    ViewData["Title"] = "Dodaj przepis - ";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h3 style="padding: 20px 0 0 0">Czy chcesz dodać ten przepis do ulubionych?</h3>
    <h4>Dodawanie</h4>
    <hr color="red" />

    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" name="id" asp-for="Recipe.RecipeID" />

        <p><b>Nazwa przepisu</b>  : @Html.DisplayFor(model => model.Recipe.Name)</p>
        
        <p><b>Składniki</b> : @Html.DisplayFor(model => model.Recipe.Ingredients)</p>
        <p><b>Sposób przygotowania</b>: @Html.DisplayFor(model => model.Recipe.Description)</p>
        <p><b>Data dodania</b> : @Html.DisplayFor(model => model.Recipe.Date)</p>

        <form method="post">
            <input type="hidden" asp-for="Recipe.RecipeID" />
            <input type="submit" value="Dodaj" class="btn btn-outline-success" style="margin: 0 0 10px 0" />
            <div>
                <input type="button" class="nav-link btn btn-outline-danger" value="Wróć do listy przepisów" onClick="history.back();" />
            </div>
        </form>
    </div>


        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
