@page
@model PrzepisyWeb.Pages.Recipes.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Recipe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Recipe.Name" class="control-label"></label>
                <input asp-for="Recipe.Name" class="form-control" />
                <span asp-validation-for="Recipe.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipe.Image" class="control-label"></label>
                <input asp-for="Recipe.Image" class="form-control" />
                <span asp-validation-for="Recipe.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipe.Ingredients" class="control-label"></label>
                <input asp-for="Recipe.Ingredients" class="form-control" />
                <span asp-validation-for="Recipe.Ingredients" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipe.Description" class="control-label"></label>
                <input asp-for="Recipe.Description" class="form-control" />
                <span asp-validation-for="Recipe.Description" class="text-danger"></span>
            </div>
            <div>
                Kategorie<br />

                @for (var i = 0; i < Model.CategoriesList.Count() ; i++)
                {
                    <input name="@Model.CategoriesList[i].categoryName" type="checkbox" id="@Model.CategoriesList[i].categoryID" />@Model.CategoriesList[i].categoryName<br />
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
