@page
@model ErrorModel
@{
    ViewData["Title"] = "Błąd - ";
}

<h1 style="padding: 20px 0 0 0">Błąd strony</h1>
<h3 class="text-danger" style="padding: 10px 0 20px 0">Podczas przetwarzania żądania wystąpił błąd!</h3>

@if (Model.ShowRequestId)
{
    <h3 style="margin-top: 20px; text-align: center;">
        <strong>Żądanie ID:</strong> <code>@Model.RequestId</code>
    </h3>
}

<section>
    <img class="inherit" style=" width: 100%" src="~/my_img/11104.jpg" alt="error" />
</section>

<h3>Strona w trakcie rozwoju</h3>
<p style="text-align: center">
    Zamiana na <strong>środowisko programistyczne</strong> wyświetla szczegółowe informacje o błędzie, który wystąpił.
</p>
<p style="text-align: center">
    <strong>Środowisko programistyczne nie powinno być włączone dla wdrożonych aplikacji.</strong>
    Może to skutkować wyświetlaniem poufnych informacji z wyjątków użytkownikom końcowym.
    W przypadku debugowania lokalnego włącz  <strong>środowisko programistyczne</strong> , ustawiając zmienną środowiskową  <strong>ASPNETCORE_ENVIRONMENT</strong> na programowanie i ponownie uruchamiając aplikację.
</p>
