@page
@model IndexModel
@{
    ViewData["Title"] = "Strona główna - ";
}

<section>
    <article>
        <h1>Zgłodniałeś?</h1>
        <h2>To strona idealnie dla Ciebie!</h2>
        <p><img class="inherit" src="spaghetti-1932466_1920.jpg" alt="zdjecie-jedzonka"></p>
        <h3>Znajdziesz tutaj wiele przepisów i inspiracji kulinarnych.</h3>
        <img class="left" src="cook-1375797_1920.jpg" alt="zdjecie-ksiazki">
        <p>Posiadamy ogromną bazę przepisów z najróżniejszych kategorii, więc każdy znajdzie coś dla siebie.</p>
        <p>Również Ty możesz nam pomóc, dodając swoje ulubione przepisy i dzieląc się nimi z innymi.</p>
        <h4>Nie czekaj! Dołącz już dziś do naszej małej kulinarnej rodzinki.</h4>

    </article>
</section>
