@page
@model PrivacyModel
@{
    ViewData["Title"] = "Polityka prywatności - ";
}

<h1 style="padding: 20px 0 0 0">Polityka prywatności</h1>

<section>
    <img class="right" style=" width: 100%; float: inherit; margin: 25px 35px 0 0 " src="~/my_img/Wavy_Tech-22_Single-11.jpg" alt="klodka" />
</section>

<h4>Dziękujemy za skorzystanie z naszej strony ;)</h4>
