@page
@model PrzepisyWeb.Pages.RecipiesModel
@{
    ViewData["Title"] = "Przepisy - ";
}
}

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://www.telepolis.pl/images/2021/02/pale-moon-browser-29.jpg" alt="Card image cap">
    <div class="card-body">
        <!---<h5 class="card-title">Card title</h5>-->
        <!---<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://assets.tmecosys.com/image/upload/t_web767x639/img/recipe/vimdb/202564_0-1059-5478-5478.jpg" alt="Card image cap">
    <div class="card-body">
        <!---<h5 class="card-title">Card title</h5>-->
        <!---<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://natashaskitchen.com/wp-content/uploads/2018/08/Chicken-Stir-Fry-1-1.jpg" alt="Card image cap">
    <div class="card-body">
        <!---<h5 class="card-title">Card title</h5>-->
        <!---<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://ocdn.eu/pulscms-transforms/1/NB6k9kpTURBXy82YmJjYTRkZGQwN2I4MGQ4NTlkZmEzODg3MmRjMGZmOS5qcGeTlQMBzMjNBEXNAmeTBc0DFM0BvJMJpjA3NjE4NQaBoTAB/meksykanskie-buritto.jpg" alt="Card image cap">
    <div class="card-body">
        <!---<h5 class="card-title">Card title</h5>-->
        <!---<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>


